#ersMainWebsite{
	.article-items{
		.article-text{
		    padding-left: 60px;
    		padding-right: 30px;

		}
		.img-responsive{
		    width: 100%;
		}
		.right-photo{
			padding:0;

			.right-photo-inner{
				position: fixed;
			    height: 100%;
			    background-color: white;

			    @media @phone{
					position:relative;
					height: auto;
				}

				@media @tablet{
					position:relative;
					height: auto;
				}


			}
		}
	}
}

