#ersMainWebsite{
	.article-items{
		.article-text{
		    padding-left: 60px;
    		padding-right: 30px;

    		.article{
    		    column-count: 2;
    		    p, ul, table{
    		    	page-break-inside: avoid;
    		    	margin:0;
    		    	padding-bottom:10px;

	    		    @media @phone{
	    		    	page-break-inside: auto;
					}

					@media @tablet{
						page-break-inside: auto;
					}


    		    }
    		    h3 { margin:0;
    		    	padding-bottom:10px; }

    		}

		}
		.img-responsive{
		    width: 100%;
		}
		.right-photo{
			padding:0;

			.right-photo-inner{
				position: fixed;
			    height: 100%;
			    background-color: white;

			    @media @phone{
					position:relative;
					height: auto;
				}

				@media @tablet{
					position:relative;
					height: auto;
				}


			}
		}
	}
}

