#ersMainWebsite &{
	.assemblies-content{
		@media (max-width: @screen-sm-max){
            .row_depertment {
                max-width: 450px;
                margin-left: auto;
                margin-right: auto;
            }
        }

	}
	.assemblies_menu{
	    .bs-grid-block{
	    	 margin-bottom: 0px;
	    	 .content{
	    	 	 height: auto;
	    	 	 ul{
	    	 	 	margin-bottom: 0px;
	    	 	 }

	    	 }
	    }
	}
}