#ers-my-crm{
    color: @dark-color;
    
    .navbar-brand{
        padding-left: 7px;
        width:100%;

        h3 {
            color:#333; 
        }
    }
    .ers-left-sidebar{
        width:110px;
        padding-left:10px;

        &.crm-production{
            background: @danger-color;
        }

        &.crm-dev{
            background: @warning-color;
        }
    }
    .ers-content{
        margin-left:110px;

        .main-content{
            padding:10px;

            input[type=checkbox] ~ label:after, input[type=checkbox] ~ label:before {opacity:1;}

            .panel{
                color: @dark-color;

                .card{

                    &.card-primary, &.card-warning, &.card-danger, &.card-dark{
                        color: @light-color;
                    }

                    .card-content{
                        .dl-horizontal{
                            margin-bottom: 0;
                            dt{
                                width:105px; 
                            }

                            dd{
                                margin-left:115px;
                            }
                        }
                    }
                }
            }
            
            .panel-action{
                margin-bottom:10px;

                 >.panel-heading{ 
                    padding:6px 0 0;
                    margin-left:0;
                    margin-right:0;

                    .ers-top-header{
                        background-color: @body-background-white;
                    }

                    .nav{
                        a{
                            background: @body-background-white;
                            color: @dark-color;

                            &:hover, &:active{
                                background: darken(@body-background-white, 10%);
                                color: lighten(@dark-color, 10%);
                            }   
                        }
                        .ers-navbar-collapse{
                            background: #fff;
                            padding:0;

                        }    
                    }

                    .badge{
                        color:#fff;
                    }

                    .badge-primary{
                        background-color: @primary-color;
                    }

                    #user-info-bar{
                        border-bottom: 1px solid darken(@light-color, 10%);
                        padding-bottom:3px;
                        background: #fff;
                        margin:0;
                        max-height:55px;
                        transition: max-height 0.3s;
                        
                        .user-image{
                            width:40px;
                        } 

                        .small{
                            opacity: 1;
                            visibility: visible;
                            transition: opacity 1s
                        }

                        h4, h5, h6{
                                margin: 5px 0;
                            }

                        &.closed{
                            .user-image{
                                width: 30px;
                            }

                            max-height:35px;
                            transition: max-height 0.3s;

                            .small{
                                height:0;
                                visibility: hidden;
                                opacity: 0;
                            }
                        }
                    } 
                }
            }

            .panel-group.accordion{
                margin-bottom: 10px;

                .panel{
                    margin-top:0;
                }
            }

            &.content-fixed-top{    
                position: fixed;
                z-index: 1;
                padding-left: 400px;
                width: 100%;
                left: -290px;
                top: -10px;

                .row{
                    width: 100%;
                    margin: 0 15px 0 10px;
                    padding: 0;
                    background: @body-background;

                    .col-sm-12, .col-md-9, .col-md-3{
                        padding: 0;

                        .col-md-6{
                            padding:0;
                        }

                        .panel{
                            margin: 0;
                        }
                    }
                }

                &:first-of-type + div{
                    margin-top: 71px;
                }

                &.full-width{
                    padding-left: 380px;
                    left: -270px;

                    &:first-of-type + div{
                        margin-top: 36px;
                    }
                    
                    .row{
                        padding: 0 0 10px;
                        margin: 0 15px 0 0;
                    }
                }
            }

            .row{
                &.vertical-divider > div[class^="col-"] + div[class^="col-"]{
                    border-left: 2px solid #eaeaea;
                }
            } 
        }

        .aside-close-btn{
            position: absolute;
            right: 10px;
            top: 0;
            font-size: 30px;
        }
        .aside-open-btn{
            display:none;
        }

        &.aside-close{
            .main-content{
                margin-left: 20px;

                &.content-fixed-top{
                    left: -30px;
                    padding-left: 140px;
                }
            }

            .aside-close-btn{
                display:none;
            }

            .aside-open-btn{
                display: block;
                    position: absolute;
                    left: -5px;
                    top: 12px;
                    font-size: 30px;
            }

            .page-aside{
                width: 20px;
                transition: width 0.5s;
            }

        }
    }



    .page-aside{
        left:110px;
        padding-top:0;
        z-index: 3;

        .panel-heading{
            margin:0;
            padding:0;
        }

        .ers-radio{
            input[type=radio]:checked+label:before{
                font-size:10px;
                line-height: 12px;
                vertical-align: middle;
                height:14px;
                width:14px;
            }

            input[type=radio]+label:before{
                font-size:10px;
                line-height: 12px;
                vertical-align: middle;
                height:14px;
                width:14px;
            }
        }
    }

    .crm-content{
        background: #fff;
    }
    /*
    * Menu (metanav)
    */
    #ml-menu:hover{
        .menu__wrap{
            text-align: center;
        }
        .menu__breadcrumbs{
            text-align: left;
        }
    }
    .menu__link {
        width: initial;
        text-align: center;
    }

    .menu__link[data-submenu]::after {
        right: 0;
        top: 0;
        padding: 5px 0 20px 70px;
        width: 100%;
    }

    .menu__link[data-submenu]:hover::after {
        background: transparent;
        color: #89aeee;
    }

    .s7-angle-left:before {
        content: "\e686";
        font-size: 25px;
        top: 6px;
        position: absolute;
        left: 8px;
    }

    .menu__breadcrumbs{
        display:initial;
        text-align: left;
    }

    .logout{
        position: absolute;
        bottom: 0;
        width: 90%;
        background: #fff;
        z-index: 1032;
        text-align: center;
        padding:10px;

        i{
            font-size:33px;
            display: block;
        }
    }
}