#ers-my-crm{
    .navbar-brand{
        padding-left: 7px;
        width:100%;

        h3 {
            color:#333;
        }
    }
    .ers-left-sidebar{
        width:110px;
        padding-left:10px;

        &.crm-production{
            background: @danger-color;
        }

        &.crm-dev{
            background: @warning-color;
        }
        &:hover{
            width: 250px;
            }
    }
    .ers-content{
        margin-left:110px;

        .main-content{
            padding:10px;

            .panel-action{
                margin-bottom:10px;

                .panel-heading{
                    padding:6px 0 0;
                }
            }

            .panel-group.accordion{
                margin-bottom: 10px;

                .panel{
                    margin-top:0;
                }
            }

            &.content-fixed-top{    
                position: fixed;
                z-index: 1;
                padding-left: 400px;
                width: 100%;
                left: -290px;
                top: -10px;

                .row{
                    width: 100%;
                    margin: 0 15px 0 10px;
                    padding: 10px 0;
                    background: @body-background;

                    .col-sm-12{
                        padding: 0;

                        .panel{
                            margin: 0;
                        }
                    }
                }

                &:first-of-type + div{
                    margin-top: 46px;
                }

                &.full-width{
                    padding-left: 380px;
                    left: -270px;

                    &:first-of-type + div{
                        margin-top: 36px;
                    }
                    
                    .row{
                        padding: 0 0 10px;
                        margin: 0 15px 0 0;
                    }
                }
            }
        }
    }

    .page-aside{
        left:110px;
        padding-top:0;
        z-index: 3;
    }

    .crm-content{
        background: #fff;
    }
    /*
    * Menu (metanav)
    */
    #ml-menu:hover{
        .menu__wrap{
            text-align: center;
        }
        .menu__breadcrumbs{
            text-align: left;
        }
    }
    .menu__link {
        width:90%;
    }
    .menu__breadcrumbs{
        display:initial;
        text-align: left;
    }

    .logout{
        position: absolute;
        bottom: 0;
        width: 90%;
        background: #fff;
        z-index: 1032;
        text-align: center;
        padding:10px;

        i{
            font-size:33px;
            display: block;
        }
    }
}