#ersMainWebsite{
	.ers-courses{

		.courses-director{
		    /*position: fixed;*/
		    right: 0;
		    height:100%;
		    padding: 20px;

		    div.links{
		     	text-align: left;
    			padding-left: 20px;

		    }

		    ul{
		        padding-left:0;

		    }
		}
		
	}
}


