#ersMainWebsite{
	.event-items-content{

		font-family:@font-family-sans-serif;

		.header{
		height:150px;
		}


		button.btn-light-primary{
			.pull-right{margin-left: 30px;}
			.pull-left{margin-right: 10px;}
			&.pratical-info{
				width:100%;
				margin-top:19px;
			}
		}

		.event-items-category{
			p{
				font-size: 20px;
				color:@gray-light;
				margin: 0;
				em{font-style: italic;font-family:@font-family-serif;}
			}
		}
		.notification{
			margin:15px 0;
			p{margin:0;}
			.warning{
				color: @danger-color;

			}

		}
		


		h2.article-title, h5, .article, .learning-outcomes{
			font-family:@font-family-serif;
		}
		h2.article-title{margin-top: 70px;}
		h5{
			a{font-family:@font-family-sans-serif;}
		}
		.article{
		    font-size: 18px;
    		line-height: 140%;
    		margin-top: 40px;
		}
		.learning-outcomes{
		    border-top: 1px solid @gray-light-midium;
    		margin: 50px 0;
    		padding: 20px 0;
		}

		h2.date-venue{
	    	color: @dark-color;
	    	display: block;
	    	margin: 15px 0 0;
	    	border-bottom: 1px solid @gray-light-midium;
	    	border-top: 1px solid @gray-light-midium;
	    	padding: 20px 10px;

	    	label{
	    		padding:0 10px;
	    		font-size: 27px;
	    		a{color: @primary-color;}
	    		a:hover{color:@link-hover-color;}
	    	}

	    	a{color:#cfcfcf;}
	    	a:hover{color:#999;}



		}

		.event-items-tab{
			padding:0 !important;

			.tab-container{

				font-size: 12px;
				p{
				line-height: 120%;
				margin:20px 0;
				}
				.deadline{
					color:#d0003c;
					background-color: #fef0ed;
					border: 1px solid #fbe0e9;
					padding: 15px;
					font-size: 14px;

				}
				.list-group{
					.badge{
						font-weight: normal;
						color: @ers-content-default-text;
						background-color: transparent;
						font-size: 14px;
					}
					.list-group-item{
						border: 0;
					}
				}
				.nav-tabs{
					li{
						width:32%;
						font-size: 12px;
						a{color:#555;}
						a:hover{color:#999;}
					}

				}


				}
				.btn-primary{
					width: 100%;
				}

			

		}

	}
}
